<% index = 1 %>
<% count = 0 %>
<table>
<% @senders_to_email_counts.each do |sender, email_count| %>
    <tr>
      <td><%= index %></td>
      <td><%= sender %></td>
      <td><%= email_count %></td>
    </tr>
    <% index += 1 %>
    <% count += email_count %>
<% end %>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        Total count: <%= @total_count %>
      </td>
    </tr>
    <tr>
      <td>
        Total count by calculation: <%= count %>
      </td>
    </tr>
</table>